@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*General settings*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root{
--red: #A82929;
--darkred: #501515;
--grey: #E5E5E5;
}

/*Header*/
header{
    background-color: var(--red);
    display: flex;
    box-sizing: border-box;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

a.logo{
    font: bolder 2rem 'Roboto';
    color: white;
}

#sandwich{
    background-color: transparent;
    border: none;
    display: none;
}

#sandwich i{
    font-size: 2rem;
    color: white;
}

#sandwich i:hover{
    cursor: pointer;
    transition: ease-in 0.2s;
    color: var(--darkred);
}

.nav-bar a.links{
    color: white;
    padding-left: 20px;
    font-size: 1.1rem;
}

.nav-bar a.links:hover{
    transition: ease-in-out .2s;
    color: var(--darkred);
}

/*Main container*/
.container{
    width: 100%;
    height: 90vh;
    display: flex;
    box-sizing: border-box;
    margin: auto;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;
}

.txt{
    width: 50%;
}

.txt > h1{
    font: 900 3rem 'Roboto';
    color: var(--red);
    margin-bottom: 15px;
}

.txt > p{
    font-size: 1.3rem;
    color: var(--darkred);
    font-weight: 300;
    margin-bottom: 40px;
}

.btn{
    font: normal 1.7rem 'Roboto';
    background-color: var(--red);
    color: white;
    width: 50%;
    height: 3rem;
    border-radius: 25px;
    text-align: center;
    line-height: 45px;
}

.btn:hover{
    transition: ease-in-out .2s;
    background-color: var(--darkred);
    cursor: pointer;
}

.main-photo{
    width: 50%;
}

/*About us*/
.about-us{
    background-color: var(--red);
    width: 100%;
    height: 70vh;
    display: flex;
    box-sizing: border-box;
    margin: auto;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;  
}

.aboutus-photo{
    width: 50%;
}


.about-us h2{
    font: 900 2.5rem 'Roboto';
    color: white;
    margin-bottom: 10px;
}

.about-us p{
    font-size: 1.3rem;
    color:var(--grey);
    font-weight: 300;
    margin-bottom: 40px;
}

/*Our Services*/
.services{
    width: 100%;
    height: 70vh;
    display: flex;
    box-sizing: border-box;
    margin: auto;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
}

.services h2{
    font: 900 2.5rem 'Roboto';
    color: var(--red);
    margin-bottom: 10px;
}

.services-photo{
    width: 43%;
}

/*Newsletter*/
.newsletter{
    background-color: var(--red);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: white;    
}

.txt-nl{
    width: 80%;
    text-align: center;
}

.txt-nl > h2{
    font: 900 2.5rem 'Roboto';
    margin-bottom: 10px;
}

.txt-nl > p{
    font-size: 1.3rem;
    color:var(--grey);
    font-weight: 300;
    margin-bottom: 40px;
}

.data{
    display: flex;
    flex-direction: column;
    width: 40%;
}

label{
    margin-bottom: 5px;
    font: 300 1.1rem 'Roboto';
}

input{
    height: 2.5rem;
    border: none;
    border-radius: 3px;
    margin-bottom: 15px;
    background-color: var(--grey);
}

.btn.wht{
    background-color: white;
    color: var(--red);
    width: 25%;
    margin-top: 40px;
}

.btn.wht:hover{
    transition: ease-in-out .2s;
    background-color:var(--grey);
    cursor: pointer;
}

/*Footer*/
footer{
    background-color: var(--darkred);
    width: auto;
    height: fit-content;
    text-align: center;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a, p{
    color: var(--red);
}

footer a:hover{
    color: #811313;
    transition: ease-in-out .2s;
}

.social-media a{
    margin-right: 20px; 
    font-size: 25px;
}

/*Media Queries*/
@media screen and (max-width: 710px){
    .txt h1{
        font-size: 2.5rem;
    }

    .txt .btn{
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 550px){
     .main-photo, .aboutus-photo, .services-photo{
        display: none;
    }

    .nav-bar{
        display: block;
        position: absolute;
        width: 0vw;
        height: 90vh;
        right: 0;
        top: 10vh;
        background-color: var(--red);
        transition: 0.6s;
        visibility: hidden;
        overflow-x: hidden;
        opacity: 0;
    }

    #sandwich{
        display: block;
    }
    
    #nav-bar.active{
        width: 90vw;
        visibility: visible;
        opacity: 1;
    }

    .nav-bar a.links{
        display: flex;
        justify-content: center;
        padding: 1.5rem 0;
        border-bottom: 1px solid #e5e5e56e;
    }

    .txt{
        width: 100%;
        margin: auto;
        text-align: justify;
    }

    .txt .btn{
        font: normal 1.7rem 'Roboto';
        width: 100%;
        height: 3rem;
        line-height: 45px;
    }

    .data{
        width: 70%;
    }

    .btn.wht{
        width: 50%;
    }

    .social-media a{
        margin-right: 20px; 
        font-size: 20px;
    }

}